.card {
    width: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.title {
    margin-top: -2.5rem;
    font-size: 28px;
    color: white;
    padding-bottom: 10px;
    z-index: 2;
}

.duration {
    font-size: 28px;
    color: white;
    padding-top: 10px;
}

.card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 50px;
}

.card:hover {
    transform: scale(1.01);
}