.header {
    color: white;
    display: flex;
    width: 80%;
    margin: auto;
    height: 7rem;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 0.5;
}

a {
    text-decoration: none;
    color: rgb(170, 167, 167);
    font-size: 20px;
}

a:hover {
    color: rgb(230, 228, 228);
}