.hero {
    color: white;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 9rem;
}

.hero__text {
    flex: 1;
    z-index: 1;
    padding-left: 8rem;
}

.promo {
    font-size: 12px;
    color: rgb(190, 189, 189);
    margin-bottom: 3rem;
}

.new {
    color: white;
    background-color: rgb(4, 204, 4);
    padding: 3px 6px;
    border-radius: 6px;
}

h1 {
    font-size: 52px;
    color: rgb(195, 194, 194);
}

.heavy {
    font-size: 64px;
    color: white;
}

.cta {
    cursor: pointer;
    background-color: #efefef;
    padding: 1.5rem;
    font-size: 24px;
    margin-top: 4%;
}

.hero__image {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 80%;
    object-fit: cover;
    opacity: 60%;
}